@import 'katex/dist/katex.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS variables*/
@layer base {
  
  :root {
    /* Light theme (default) */
    --color-primary: 250 250 249;
    --color-secondary: 67 56 202;
    --color-text: 24 24 27;

    /* Math box */
    --color-proof: 204 251 241;
    --color-axiom: 254 243 199;
    --color-theorem: 243 232 255;
    --color-proposition: 219 234 254;
    --color-lemma: 255 237 213;
    --color-corollary: 254 226 226;
    --color-criterion: 252 231 243;
    --color-definition: 254 249 195;
    --color-example: 220 252 231;

    /* Elements */
    --color-diatomic-nonmetal: 255 140 0;
    --color-polyatomic-nonmetal: 165 42 42;
    --color-noble-gas: 153 50 204;
    --color-alkali-metal: 0 100 0;
    --color-alkaline-earth-metal: 72 61 139;
    --color-metalloid: 184 134 11;
    --color-transition-metal: 87 30 108;
    --color-post-transition-metal: 147 141 74;
    --color-lanthanoid: 88 116 142;
    --color-actinoid: 100 149 237;

    /* Blob gradient color */
    --color-blob-start: hsl(0, 100%, 75%);
    --color-blob-stop: hsl(0, 100%, 75%);

    /* Fonts */
    --font-sans: system-ui, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-family: var(--font-sans);
  }
  /* Dark theme */
  [data-theme='dark'] {
    --color-primary: 28 25 23;
    --color-secondary: 67 56 202;
    --color-text: 241 245 249;
    --color-proof: 19 78 74;
    --color-axiom: 120 53 15;
    --color-theorem: 88 28 135;
    --color-proposition: 30 58 138;
    --color-lemma: 124 45 18;
    --color-corollary: 127 29 29;
    --color-criterion: 131 24 67;
    --color-definition: 113 63 18;
    --color-example: 20 83 45;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    min-width: 0;
    min-height: 0;
  }

  html {
    overflow: hidden;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  dialog {
    contain: paint;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  article {
    counter-reset: fig axiom theorem proposition lemma corollary definition example;
  }

  pre {
    position: relative;
  }

  figure[data-rehype-pretty-code-figure],
  div[data-rehype-pretty-code-fragment] {@apply relative min-h-0 flex-1 m-0}

  pre button {
    @apply absolute p-1 top-4 right-4 border rounded;
  }

  pre[data-language]::before {
    @apply absolute top-0 right-0 px-2 rounded-bl
    font-bold uppercase bg-secondary content-[attr(data-language)];
  }

  code {
    counter-reset: line;
  }
   
  code > [data-line]::before {
    counter-increment: line;
    content: counter(line);
   
    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
  }
   
  code[data-line-numbers-max-digits='2'] > [data-line]::before {
    width: 2rem;
  }
   
  code[data-line-numbers-max-digits='3'] > [data-line]::before {
    width: 3rem;
  }

  /*Scrollbar*/
  ::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.5rem;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0.5rem;
  }
  ::-webkit-scrollbar-track:hover {
    box-shadow: 0 0 0.25rem 0 rgb(0 0 0) inset;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(var(--color-secondary));
    border-radius: 0.25rem;
    border: 0.25rem solid transparent;
    background-clip: padding-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    border-radius: 0.5rem;
    border: 0;
  }
}

@layer utilities {
  .text-shadow-glitch {
    text-shadow:
      0.025em 0 0 rgb(255 0 0 / 0.75),
      -0.0125em -0.025em 0 rgb(0 255 0 / 0.75),
      0.0125em 0.025em 0 rgb(0 0 255 / 0.75);
  }
  .text-shadow-3d {
    text-shadow: 0.05rem 0.05rem 0.05rem rgb(--color-shadow),
      0.05rem 0.1rem 0.05rem rgb(--color-shadow),
      0.05rem 0.15rem 0.05rem rgb(--color-shadow),
      0.05rem 0.2rem 0.05rem rgb(--color-shadow),
      0.05rem 0.25rem 0.05rem rgb(--color-shadow),
      0.05rem 0.3rem 0.05rem rgb(--color-shadow),
      0.05rem 0.35rem 0.05rem rgb(--color-shadow),
      0.05rem 0.4rem 0.05rem rgb(--color-shadow),
      0.05rem 0.45rem 0.05rem rgb(--color-shadow),
      0.05rem 0.5rem 0.05rem rgb(--color-shadow),
      0.05rem 1rem 0.05rem rgb(--color-shadow-accent / 0.4),
      0.05rem 1.25rem 0.3rem rgb(--color-shadow-accent / 0.2),
      0.05rem 1.35rem 1.75rem rgb(--color-shadow-accent / 0.2),
      0.05rem 1.5rem 3rem rgb(--color-shadow-accent / 0.4);
  }
}

.katex-display { overflow: auto hidden }
.katex-display > .katex { white-space: normal }
/* Add space between broken lines: */
.katex-display > .base { margin: 0.25em 0 }
/* Compensate by reducing space around display math */
.katex-display { margin: 0.5em 0; }