@import 'katex/dist/katex.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS variables*/
@layer base {
  
  :root {
    /* Light theme (default) */
    --color-primary: 250 250 249;
    --color-secondary: 67 56 202;
    --color-accent: 214 211 209;
    --color-text: 24 24 27;
    --color-axiom: 198 178 252;
    --color-theorem: 100 181 246;
    --color-proposition: 77 182 172;
    --color-lemma: 102 187 106;
    --color-corollary: 255 112 67;
    --color-definition: 255 241 118;
    --color-example: 158 158 158;

    /* Blob gradient color */
    --color-blob-start: hsl(0, 100%, 75%);
    --color-blob-stop: hsl(0, 100%, 75%);

  }
  /* Dark theme */
  [data-theme='dark'] {
    --color-primary: 28 25 23;
    --color-secondary: 67 56 202;
    --color-accent: 68 64 60;
    --color-text: 241 245 249;
    --color-axiom: 123 68 146;
    --color-theorem: 13 71 161;
    --color-proposition: 0 77 64;
    --color-lemma: 27 94 32;
    --color-corollary: 191 54 12;
    --color-definition: 245 127 23;
    --color-example: 109 76 65;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  article {
    counter-reset: fig axiom theorem proposition lemma corollary definition example;
  }

  pre {
    position: relative;
  }

  pre button {
    @apply absolute p-1 top-4 right-4 border rounded;
  }

  pre[data-language]::before {
    @apply absolute top-0 right-4 px-2 py-1 font-bold uppercase bg-secondary content-[attr(data-language)];
  }

  .katex-display { overflow: auto hidden }
  .katex-display > .katex { white-space: normal }
  /* Add space between broken lines: */
  .katex-display > .base { margin: 0.25em 0 }
  /* Compensate by reducing space around display math */
  .katex-display { margin: 0.5em 0; }

  /*Scrollbar*/
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-track:hover {
    background: rgb(var(--color-accent));
    margin-block: 0.1rem;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(var(--color-secondary));
    border-radius: 0.1rem;
    border: 0.15rem solid transparent;
    background-clip: padding-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    border-radius: 0.5rem;
    border: 0;
  }
}

@layer utilities {
  .text-shadow-glitch {
    text-shadow:
      0.025em 0 0 rgba(255 0 0 / 0.75),
      -0.0125em -0.025em 0 rgba(0 255 0 / 0.75),
      0.0125em 0.025em 0 rgba(0 0 255 / 0.75);
  }
  .text-shadow-3d {
    text-shadow: 0.05rem 0.05rem 0.05rem rgba(--color-shadow),
      0.05rem 0.1rem 0.05rem rgba(--color-shadow),
      0.05rem 0.15rem 0.05rem rgba(--color-shadow),
      0.05rem 0.2rem 0.05rem rgba(--color-shadow),
      0.05rem 0.25rem 0.05rem rgba(--color-shadow),
      0.05rem 0.3rem 0.05rem rgba(--color-shadow),
      0.05rem 0.35rem 0.05rem rgba(--color-shadow),
      0.05rem 0.4rem 0.05rem rgba(--color-shadow),
      0.05rem 0.45rem 0.05rem rgba(--color-shadow),
      0.05rem 0.5rem 0.05rem rgba(--color-shadow),
      0.05rem 1rem 0.05rem rgba(--color-shadow-accent / 0.4),
      0.05rem 1.25rem 0.3rem rgba(--color-shadow-accent / 0.2),
      0.05rem 1.35rem 1.75rem rgba(--color-shadow-accent / 0.2),
      0.05rem 1.5rem 3rem rgba(--color-shadow-accent / 0.4);
  }
}